*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #262525;
    background-color: white;
    color:white;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100vh;
    box-sizing: border-box;
}
header{
    background-color: #262525;
    height: 12.5vh;
    padding: 25px;
    box-sizing: border-box;
}
main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:73.5vh;
    padding-top: 5px;
    box-sizing: border-box;
    background-color: #262525;
}
#musicImage{
    max-width: 400px;
    max-height: 400px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.466);
}
#musicName{
    font-size: 25px;
    font-family:cursive;
}
#progressBar{
    width: 100%;
}
#timeDisplay{
    color: white;
    position: absolute;
    top: 81vh;
    left:5vh;
}
#console{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items: center;
    height: 14vh;
    box-sizing: border-box;
    background-color: #0C0B0B;
}
.buttons{
    width: 35px;
    height: 35px;
}
#playPause{
    width: 60px;
    height: 60px;
}

@keyframes changeColor{

}

@media screen and (max-width: 450px){
    
    header{
        text-align: center;
    }
    main{
        padding-top:30px;
        text-align: center;
    }
    #musicImage{
        max-width: 300px;
        max-height: 300px;
        border-radius: 20px;
    }
    #musicName{
        margin-top: 0px;
    }
    #slower{
        display: none;
    }
    #backward{
        display: none;
    }
    #forward{
        display: none;
    }
    #faster{
        display: none;
    }
    #stop{
        display: none;
    }
    #volume{
        display:none;
    }
    #console{
        flex-flow:row wrap;
        align-items: center;
    }
    #volumeBar{
        position:absolute;
        top:81vh;
        left:0vh;
    }
    #timeDisplay{
        position:absolute;
        top:80.5vh;
        right:0vh;
        color:white;
    }
    
}